@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
:root {
    --color-primario: blue;
    --color-secundario: #2ecc71;
    --spacing: 20px;
    --text-color: white;
    --background-color: white;
}

body {
    margin: 0px;
    background-color: var(--background-color, white);
    color: var(--text-color, black);
}
